<?xml version='1.0' encoding='GBK' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %t %5p [%c:%L] - %m%n" />
		</layout>
	</appender>
	
	<appender name="R" class="org.apache.log4j.RollingFileAppender">     
		<param name="File" value="/home/admin/Log/lark.log" />
		<!-- <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" /> -->
        <param name="MaxFileSize" value="1024MB" />
	    <param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">     
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %t %5p [%c:%L] - %m%n" />     
		</layout>     
	</appender>
	
	
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="R" />
	</root>
</log4j:configuration>
